*.pyc
.idea
cover
.coverage
.cache
.cache.*
nosetests.xml
*/venv/
*/venv2/
*.BAK
atcoder/00_tools/cache.*.json
atcoder/_codeforces/.ipynb_checkpoints/
topcoder/*/CutTheCube.html
topcoder/*/*.html
atcoder/_codeforces/_notebook.ipynb
topcoder/*/*.sample
opencv/ocr_ipaddr/IMG*
animationgif/nc97468.png
animationgif/nc97468_ns.png
atcoder/_0_test/test/
animationgif/b.png
animationgif/kawa.png
animationgif/shoes_41.png
atcoder/_0_test/a.py
atcoder/_0_test/b.py
atcoder/_0_test/main.py
atcoder/_a_tmp/zzz1.py
atcoder/_codeforces/z.py
atcoder/AGC/z.py
atcoder/AGC/zzz.py
atcoder/lib/zzz.py
atcoder/lib/zzz_2.py
atcoder/lib/zzz_3.py
handonGrading/sec1.1-sec1.3/SW1.yaml
handonGrading/sec1.1-sec1.3/SW2.yaml
handonGrading/templ/top.html
opencv/maze.jpg
opencv/maze2.jpg
opencv/maze3.PNG
opencv/output.avi
opencv/test.avi
opencv/キャプチャ.PNG
opencv/プレゼンテーション1.pptx
opencv/迷路.txt
scikit/datas.py
scikit/test_jupyter.ipynb
topcoder/_test.py
hue/private_sample.py
opencv/ocr_ipaddr/pict1.PNG
opencv/ocr_ipaddr/pict1_out.png
opencv/ocr_ipaddr/pict2.jpg
opencv/ocr_ipaddr/pict2_out.jpg
ws_http5_maze2/test.gif
atcoder/Python-3.9.2/
